.title {
	color: red;
}

.gallery-items {
	margin: 50px 0;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.gallery-item {
	width: 300px;
	height: 250px;
	text-align: center;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&__image {
		width: 300px;
		height: 220px;
		object-fit: cover;
	}

	&__title {
		line-height: 30px;
	}
}

.gallery-item_resource {
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f1f3f4;
}

audio {
	width: 95%;
	margin: 0 auto;
	height: 30px;
}

video {
	height: 220px;
}
